.breadcrumbs {
    padding: 2.1875rem 0 1.5625rem
}
.breadcrumbs__list {
    display: flex;
    flex-wrap: wrap
}
.breadcrumbs__item {
    line-height: 1.2857142857
}
.breadcrumbs__current {
    color: var(--grey)
}
.breadcrumbs__link {
    display: flex;
    align-items: center
}
.breadcrumbs__link::after {
    content: "/";
    margin: 0 .7142857143em
}
@media (max-width:47.99875em) {
    .breadcrumbs {
        padding: 5.3125rem 0 1.5625rem
    }
}
