.categories-nav {
    padding: 1.5625rem 0
}

@media (max-width: 29.99875em) {
    .categories-nav {
        padding-top: 0.3125rem
    }
}

.categories-nav__list {
    display: flex;
    gap: 0.3125rem 0.625rem;
    align-items: center;
    flex-wrap: wrap
}

@media (max-width: 29.99875em) {
    .categories-nav__list {
        display: none
    }
}

.categories-nav__link {
    font-weight: 500;
    padding: 0.5625rem 1.75rem;
    border-radius: 6.25rem;
    border: 2px solid #f1eff2;
    color: #959595;
    background-color: #f1eff2;
    transition: background-color .3s ease-in-out, color .3s ease-in-out
}

@media (any-hover: hover) {
    .categories-nav__link:hover {
        background-color: #fff
    }
}

.categories-nav__link_active {
    color: var(--primary);
    background-color: #fff
}

@media (min-width: 29.99875em) {
    .categories-nav__mob {
        display: none
    }
}

.posts .categories-nav {
    padding-top: 0
}
