.cosmetologist-item {
    border-radius: .9375rem;
    overflow: hidden
}
.cosmetologist-item__img {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 28.25rem
}
.cosmetologist-item__img img {
    height: auto
}
.cosmetologist-item__body {
    padding: 1.75rem 1.25rem;
    background-color: #fff;
    display: grid;
    gap: .8125rem;
    justify-items: start
}
.cosmetologist-item__title {
    font-size: 1.125rem;
    font-weight: 500
}
.cosmetologist-item__period {
    background-color: var(--bg-light-accent);
    color: var(--bg-accent);
    border-radius: .625rem;
    display: inline-flex;
    padding: .5rem 1rem;
    font-weight: 500
}
.cosmetologist-item__text {
    line-height: 1.3
}
.cosmetologist-item__btn {
    position: absolute;
    bottom: 1.375rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out;
    min-width: 86%
}
@media (max-width:29.99875em) {
    .cosmetologist-item__img {
        min-height: 25rem
    }
    .cosmetologist-item__btn {
        min-width: 88%
    }
}
@media (any-hover:hover) {
    .cosmetologist-item__img:hover .cosmetologist-item__btn {
        opacity: 1;
        visibility: visible;
        pointer-events: auto
    }
}
@media (any-hover:none) {
    .cosmetologist-item__btn {
        opacity: 1;
        visibility: visible;
        pointer-events: auto
    }
}
