.footer {
    color: #fff;
    background-color: #1e1f22
}
.footer__info {
    padding: 3.75rem 0
}
.footer__top {
    padding-bottom: 3.75rem
}
.top-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem
}
.top-footer__logo {
    flex: 0 0 21.25rem
}
.top-footer__search {
    flex: 1 1 auto
}
.menu-footer {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem
}
.menu-footer__info {
    flex: 0 0 21.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    gap: 1.25rem
}
.menu-footer__address {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2
}
.menu-footer__address:not(:last-child) {
    margin-bottom: .625rem
}
.menu-footer__time {
    font-weight: 500
}
.menu-footer__time:not(:last-child) {
    margin-bottom: 1.25rem
}
.menu-footer__tel {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2.125rem
}
.menu-footer__info-bottom {
    font-weight: 500;
    display: grid;
    gap: 1.25rem
}
.menu-footer__info-bottom a span {
    color: red
}
.menu-footer__nav {
    flex: 1 1 auto;
    display: flex;
    gap: 1.25rem
}
.menu-footer__col {
    flex: 1 1 auto
}
.menu-footer__list {
    font-weight: 500;
    font-size: 1rem;
    display: grid;
    gap: .875rem 2.5rem
}
.menu-footer__list li {
    line-height: 1.2;
    gap: .625rem;
    display: flex;
    align-items: flex-start
}
.menu-footer__list li::before {
    content: "";
    width: .25rem;
    height: .25rem;
    background-color: #fff;
    border-radius: 50%;
    translate: 0 .4375rem
}
.menu-footer__title {
    font-weight: 600;
    font-size: 1.125rem
}
.social {
    display: flex;
    gap: .625rem
}
.social__item {
    flex: 0 0 2.6875rem
}
.social__item svg {
    width: 2.6875rem;
    height: 2.6875rem
}
.bottom-footer {
    padding: 2.5rem 0 3.75rem
}
.bottom-footer__payments {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-bottom: 2.5rem;
    flex-wrap: wrap
}
.bottom-footer__payments img {
    width: 2.9375rem
}
.bottom-footer__text {
    display: grid;
    justify-items: center;
    gap: 1.25rem;
    text-align: center;
    line-height: 1.3;
    color: #7f7f7f
}
.info-menu__list {
    display: flex;
    gap: .3125rem;
    justify-content: space-between;
    flex-wrap: wrap
}
.info-menu__link {
    font-weight: 600;
    font-size: 1.125rem
}
@media (min-width:29.99875em) {
    .menu-footer__title {
        margin-bottom: 1.25rem
    }
    .menu-footer_mobile {
        display: none
    }
    .info-menu {
        border-top: 1px solid #2c2c2c;
        border-bottom: 1px solid #2c2c2c
    }
    .info-menu__link {
        line-height: 2.7222222222
    }
}
@media (min-width:61.99875em) {
    .menu-footer__col:last-child .menu-footer__list {
        display: grid;
        grid-template-columns: repeat(2,1fr)
    }
}
@media (max-width:61.99875em) {
    .footer__top {
        padding-bottom: 2.5rem
    }
    .top-footer__logo {
        flex: 0 0 30%
    }
    .menu-footer__info {
        flex: 0 0 30%
    }
    .bottom-footer {
        padding-bottom: 7.5rem
    }
}
@media (max-width:47.99875em) {
    .footer__info {
        padding-bottom: 2.5rem
    }
    .top-footer {
        flex-wrap: wrap
    }
    .top-footer__logo {
        flex: 1 1 100%
    }
    .top-footer__search {
        flex: 1 1 100%
    }
    .menu-footer {
        flex-wrap: wrap;
        gap: 2.25rem
    }
    .menu-footer__info {
        flex: 1 1 100%
    }
    .menu-footer__nav {
        flex-wrap: wrap
    }
}
@media (max-width:29.99875em) {
    .footer__info {
        padding-bottom: 1.25rem
    }
    .footer__top {
        padding-bottom: 1.625rem
    }
    .menu-footer__time:not(:last-child) {
        margin-bottom: .9375rem
    }
    .menu-footer__tel {
        margin-bottom: 1.25rem
    }
    .menu-footer__col {
        flex: 1 1 100%
    }
    .menu-footer__list {
        padding-top: 1.25rem
    }
    .menu-footer_mobile {
        padding-top: 2.25rem
    }
    .bottom-footer {
        padding-top: 4.375rem
    }
    .bottom-footer__payments {
        margin-bottom: 1.875rem;
        justify-content: flex-start;
        gap: .625rem
    }
    .bottom-footer__text {
        font-size: .75rem;
        gap: .75rem
    }
    .info-menu__list {
        flex-direction: column;
        gap: 1.25rem
    }
}
