.form__inner {
    display: grid;
    gap: 1.875rem
}
.form__row.form__row_radio {
    display: flex;
    gap: 1.25rem
}
.form__row.form__row_horizontal {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap
}
.form__row_horizontal .form__column {
    flex: 1 1 auto
}
.form__column.form__column_fw {
    flex: 1 1 100%
}
.form__row_horizontal .form__button {
    min-width: 13.625rem
}
.form__label {
    font-size: 1rem;
    margin-bottom: .625rem
}
.form__text {
    line-height: 1.2
}
.form__text a {
    text-decoration: underline
}
@media (min-width:61.99875em) {
    .form__row.form__row_radio {
        max-width: 31.25rem;
        justify-content: space-between
    }
}
@media (max-width:48.12375em) {
    .form__inner {
        gap: .9375rem
    }
    .form__row_horizontal .form__column {
        flex: 1 1 100%
    }
    .form__row_horizontal .form__button {
        min-width: 100%
    }
    .form__label {
        font-size: .875rem
    }
    .form__row_radio .form__label {
        font-size: 1rem
    }
}
@media (max-width:29.99875em) {
    .form__row.form__row_radio {
        flex-direction: column;
        margin-top: .9375rem
    }
    .form__row.form__row_horizontal {
        gap: .9375rem
    }
}
