.product__body {
    display: grid;
    gap: .875rem;
    margin-bottom: 1.25rem
}
.product__img {
    margin-bottom: 1.75rem;
    position: relative;
    border-radius: 1.125rem;
    overflow: hidden;
    background-color: #f8f8f8;
    background-image: linear-gradient(226deg,rgba(255,255,255,.2) 0,rgba(234,237,241,.2) 100%)
}
.product__title {
    line-height: 1.3;
    font-size: 1.125rem;
    font-weight: 600
}
.product__title small {
    color: #6c6c6c;
    font-size: .9375rem
}
.product__rating {
    display: flex;
    gap: 1.25rem;
    align-items: center
}
.product__generator {
    color: #6c6c6c
}
.product__price {
    font-weight: 600;
    font-size: 1.125rem
}
.slider-img__slide {
    max-height: 20.25rem;
    min-height: 20.25rem
}
.beige {
    position: absolute;
    top: .75rem;
    left: .75rem;
    font-size: .75rem;
    border-radius: .5rem;
    padding: .5625rem .75rem;
    font-weight: 600;
    display: inline-flex
}
.beige_new {
    background-color: var(--bg-new)
}
.beige_sale {
    background-color: var(--bg-sale)
}
.beige_top {
    background-color: var(--bg-top)
}
.product-buy {
    width: 3.375rem;
    height: 3.375rem;
    background-color: var(--primary);
    border-radius: .75rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease-in-out
}
.product-buy svg {
    width: 1.25rem;
    height: 1.25rem
}
.product-fav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease-in-out
}
.product-fav svg {
    width: 1.625rem;
    height: 1.625rem
}
.stock {
    display: flex;
    align-items: center;
    gap: .3125rem;
    color: var(--green);
    flex-wrap: wrap
}
.stock_on {
    color: var(--green)
}
.stock_off {
    color: var(--black);
    opacity: .6
}
.stock__icon svg {
    width: .875rem;
    height: .875rem
}
.swiper-pagination {
    margin-top: 2.875rem;
    display: flex;
    gap: .625rem;
    justify-content: center
}
.swiper-pagination-bullet {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #dfe1e3
}
.swiper-pagination-bullet-active {
    background-color: var(--primary)
}
.product-slider__container {
    position: relative
}
.product-slider__benefits {
    margin-top: 4.375rem
}
.swiper-controls {
    display: flex;
    z-index: 2;
    gap: .9375rem
}
.section__block .swiper-controls {
    justify-content: flex-end
}
.product-slider__container .swiper-controls {
    pointer-events: none;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0
}
.swiper-button {
    pointer-events: auto;
    width: 2.6875rem;
    height: 2.6875rem;
    border-radius: .875rem;
    background-color: rgba(236,236,236,.5);
    display: flex;
    align-items: center;
    justify-content: center
}
.swiper-button svg {
    width: 1.25rem;
    height: .875rem
}
.swiper-button-prev svg {
    rotate: 180deg
}
.hero {
    padding-top: 2.625rem
}
.hero__container {
    max-width: 110.375rem
}
.hero__body {
    border-radius: .9375rem;
    overflow: hidden
}
.hero__slide {
    background: no-repeat center/cover;
    min-height: 32.625rem
}
.slide-hero {
    position: relative;
    min-height: 32.625rem;
    max-width: 95.875rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1.25rem 2.5rem
}
.slide-hero__content {
    display: grid;
    gap: 2.5rem;
    max-width: 51.25rem
}
.slide-hero__title {
    font-family: var(--logo-font),sans-serif;
    font-size: 4rem
}
.slide-hero__title span {
    color: var(--accent)
}
.slide-hero__title small {
    font-size: 2.5rem;
    display: block;
    font-family: var(--primary-font),sans-serif
}
.btns-group {
    display: flex;
    align-items: center;
    gap: .625rem 1.25rem;
    flex-wrap: wrap
}
.item-services__img .btns-group__btn {
    flex: 1 1 50%
}
.item-services__img .btns-group {
    max-width: 5.625%rem;
    flex-wrap: nowrap
}
.benefits {
    display: flex;
    gap: 1.25rem
}
.benefits__item {
    padding: 1.875rem;
    flex: 1 1 auto;
    border-radius: .9375rem;
    border: 1px solid #f1eff2
}
.benefits__top {
    display: flex;
    align-items: center;
    gap: 1.625rem;
    margin-bottom: .8125rem
}
.benefits__top-icon {
    flex: 0 0 2.8125rem
}
.benefits__info {
    color: #6c6c6c;
    line-height: 1.3
}
.cosmetologist-item {
    border-radius: .9375rem;
    overflow: hidden
}
.cosmetologist-item__img {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 28.25rem
}
.cosmetologist-item__img img {
    height: auto
}
.cosmetologist-item__body {
    padding: 1.75rem 1.25rem;
    background-color: #fff;
    display: grid;
    gap: .8125rem;
    justify-items: start
}
.cosmetologist-item__title {
    font-size: 1.125rem;
    font-weight: 500
}
.cosmetologist-item__period {
    background-color: var(--bg-light-accent);
    color: var(--bg-accent);
    border-radius: .75rem;
    display: inline-flex;
    padding: .5rem 1rem;
    font-weight: 500
}
.cosmetologist-item__text {
    line-height: 1.3
}
.cosmetologist-item__btn {
    position: absolute;
    bottom: 1.375rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out
}
.beige-light {
    background-color: var(--bg-light-accent);
    color: var(--bg-accent);
    border-radius: .75rem;
    display: inline-flex;
    padding: .5rem 1rem;
    font-weight: 500
}
.services__body {
    position: relative
}
.item-services__img {
    position: relative;
    margin-bottom: 1.25rem;
    min-height: 26.25rem;
    display: flex;
    justify-content: center
}
.item-services__img img {
    border-radius: 1.125rem;
    height: auto
}
.item-services__body {
    padding: 0 .9375rem;
    display: grid;
    gap: 1.25rem
}
.item-services__title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3
}
.item-services__text {
    line-height: 1.3
}
.item-services__info {
    display: flex;
    align-items: center;
    gap: .625rem
}
.item-services__btns {
    position: absolute;
    bottom: 1.375rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out
}
.item-study {
    background-color: #fff;
    border-radius: .9375rem;
    display: flex
}
.item-study__info {
    flex: 1 1 auto;
    padding: 3.75rem 3.125rem;
    display: grid;
    gap: 2.5rem
}
.item-study__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2
}
.item-study__text {
    line-height: 1.3;
    font-size: 1rem
}
.item-study__label {
    display: flex;
    align-items: center;
    gap: .625rem;
    font-size: 1rem
}
.item-study__label strong {
    font-size: 1.125rem;
    font-weight: 600
}
.item-study__img {
    overflow: hidden;
    border-radius: .9375rem;
    flex: 0 0 50%
}
.blog {
    display: flex;
    gap: 1.25rem
}
.blog__main {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border-radius: .9375rem;
    padding: 3.125rem 1.875rem;
    flex: 0 0 50%;
    position: relative;
    background: no-repeat center/cover
}
.blog__main::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.7) 100%)
}
.blog__main-info {
    position: relative;
    z-index: 2;
    color: #fff
}
.blog__list {
    display: grid;
    gap: 1.25rem
}
.blog-item_border {
    border-radius: .9375rem;
    border: 1px solid #f1eff2;
    padding: 1.875rem
}
.blog-item__top {
    display: flex;
    align-items: center;
    gap: 1.625rem;
    margin-bottom: .75rem
}
.blog-item__time {
    flex: 0 0 2.8125rem;
    font-size: .75rem;
    font-weight: 600;
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: .75rem;
    overflow: hidden;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}
.blog-item__title {
    font-size: 1.125rem
}
.blog-item__text {
    line-height: 1.3;
    color: #6c6c6c
}
.blog__main-info .blog-item__text {
    color: #fff
}
.about-img img {
    height: auto;
    border-radius: .9375rem
}
@media (min-width:29.99875em) {
    .item-services__img {
        overflow: hidden
    }
}
@media (min-width:61.99875em) {
    .swiper-pagination {
        display: none
    }
    .services__body::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 100%;
        background-color: #fff;
        z-index: 2
    }
    .services__body::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        background-image: linear-gradient(260deg,rgba(255,255,255,0) 0,#fff 100%);
        z-index: 2
    }
    .services__body.swiper {
        overflow: visible
    }
}
@media (min-width:98.375em) {
    .container,
    [class*=__container] {
        padding: 0 3.75rem
    }
    .item-study {
        gap: 4.375rem
    }
}
@media (max-width:74.99875em) {
    .item-study__info {
        padding: 2.5rem 1.875rem
    }
    .blog-item_border {
        padding: 1.25rem
    }
}
@media (max-width:61.99875em) {
    .swiper-controls {
        display: none
    }
    .slide-hero__content {
        gap: 1.875rem
    }
    .slide-hero__title {
        font-size: 3.625rem
    }
    .slide-hero__title small {
        font-size: 2.25rem
    }
    .benefits {
        flex-wrap: wrap
    }
    .item-study {
        flex-wrap: wrap
    }
    .item-study__info {
        padding-top: 0
    }
    .item-study__img {
        order: -1;
        flex: 1 1 100%
    }
    .blog {
        align-items: flex-start
    }
    .blog__main {
        padding: 1.875rem 1.25rem;
        min-height: 20.125rem
    }
    .blog-item__top {
        gap: 1rem
    }
}
@media (max-width:47.99875em) {
    .hero {
        padding-top: 5rem
    }
    .slide-hero__title {
        font-size: 2.875rem
    }
    .slide-hero__title small {
        font-size: 1.875rem
    }
    .btns-group {
        row-gap: 1rem
    }
    .item-services__title {
        font-size: 1.25rem
    }
    .blog {
        flex-wrap: wrap
    }
    .blog__main {
        flex: 1 1 100%
    }
    .blog-item__title {
        font-size: 1rem
    }
}
@media (max-width:29.99875em) {
    .product__body {
        gap: .625rem
    }
    .product__img {
        margin-bottom: 1.25rem
    }
    .product__title {
        font-size: 1rem
    }
    .product__title small {
        font-size: .875rem
    }
    .slider-img__slide {
        min-height: 16.875rem
    }
    .stock {
        font-size: .75rem
    }
    .stock__icon svg {
        width: .75rem;
        height: .75rem
    }
    .hero {
        padding-top: 4.0625rem
    }
    .hero__container {
        padding: 0
    }
    .hero__body {
        border-radius: 0 0 .5rem .5rem
    }
    .slide-hero {
        padding: 1.875rem 1.25rem
    }
    .slide-hero__content {
        gap: 1.5625rem
    }
    .slide-hero__title {
        font-size: 2.25rem
    }
    .slide-hero__title small {
        font-size: 1.5rem
    }
    .item-services__img .btns-group {
        gap: .625rem
    }
    .benefits__top {
        flex-wrap: wrap;
        gap: .625rem;
        margin-bottom: .625rem
    }
    .cosmetologist-item__img {
        min-height: 25rem
    }
    .item-services__img {
        min-height: 18.4375rem
    }
    .item-services__body {
        padding-top: 3.75rem
    }
    .item-services__btns {
        top: 100%;
        bottom: auto;
        translate: 0 .625rem
    }
    .item-study__info {
        padding: 0 .9375rem 2.1875rem;
        gap: 1.25rem
    }
    .item-study__text {
        font-size: .875rem
    }
    .item-study__label {
        font-size: .875rem
    }
    .item-study__label strong {
        font-size: 1rem
    }
    .blog__main {
        padding: 1.25rem .9375rem
    }
    .blog__list {
        display: none
    }
    .blog__main-info .blog-item__text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
    }
}
@media (max-width:22.5em) {
    .item-study {
        gap: 1.875rem
    }
}
@media (min-width:22.5em)and (max-width:98.375em) {
    .item-study {
        gap: clamp(1.875rem ,1.1336490939rem + 3.294892916vw ,4.375rem)
    }
}
@media (any-hover:hover) {
    .product__img:hover .product-fav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible
    }
    .product__img:hover .product-buy {
        opacity: 1;
        pointer-events: auto;
        visibility: visible
    }
    .product__title:hover {
        text-decoration: underline
    }
    .cosmetologist-item__img:hover .cosmetologist-item__btn {
        opacity: 1;
        visibility: visible;
        pointer-events: auto
    }
    .item-services__img:hover .item-services__btns {
        opacity: 1;
        visibility: visible;
        pointer-events: auto
    }
    .blog-item:hover .blog-item__title {
        text-decoration: underline
    }
}
@media (any-hover:none) {
    .product-buy {
        opacity: 1;
        pointer-events: auto;
        visibility: visible
    }
    .product-fav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible
    }
    .cosmetologist-item__btn {
        opacity: 1;
        visibility: visible;
        pointer-events: auto
    }
    .item-services__btns {
        opacity: 1;
        visibility: visible;
        pointer-events: auto
    }
}
