.marquee {
    position: relative;
    display: flex;
    overflow: hidden;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    gap: 60px
}
.marquee__items {
    flex-shrink: 0;
    display: flex;
    gap: 60px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
    -webkit-animation: scroll 200s linear infinite;
    animation: scroll 200s linear infinite
}
.marquee__item {
    text-transform: uppercase;
    font-family: var(--second-font),sans-serif;
    font-weight: 500;
    font-size: 8rem;
    color: #eee;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0
}
@-webkit-keyframes scroll {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(calc(-100% - 60px));
        transform: translateX(calc(-100% - 60px))
    }
}
@keyframes scroll {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
    to {
        -webkit-transform: translateX(calc(-100% - 60px));
        transform: translateX(calc(-100% - 60px))
    }
}
.hero {
    padding-top: 2.625rem
}
.hero__container {
    max-width: 110.375rem
}
.hero_grey .hero__container {
    max-width: 120rem;
    padding: 0
}
.hero__body {
    border-radius: .9375rem;
    overflow: hidden
}
.hero__slide {
    background: no-repeat center/cover;
    min-height: 32.625rem
}
.hero_grey {
    background-color: #eee
}
.slide-hero {
    position: relative;
    min-height: 32.625rem;
    max-width: 95.875rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1.25rem 2.5rem
}
.slide-hero_grey-bg {
    max-width: 120rem;
    padding: 0;
    background-color: #eee;
    position: relative
}
.slide-hero__container {
    width: 100%
}
.slide-hero__content {
    position: relative;
    z-index: 2;
    display: grid;
    gap: 2.5rem;
    max-width: 51.25rem
}
.slide-hero__title {
    font-family: var(--logo-font),sans-serif;
    font-size: 4rem
}
.slide-hero__title span {
    color: var(--accent)
}
.slide-hero__title small {
    font-size: 2.5rem;
    display: block;
    font-family: var(--primary-font),sans-serif
}
.slide-hero__img {
    position: absolute;
    height: 100%;
    top: 50%;
    right: 0;
    translate: 0 -50%
}
.services__body {
    position: relative
}
.item-services__img {
    position: relative;
    margin-bottom: 1.25rem;
    min-height: 26.25rem;
    display: flex;
    justify-content: center
}
.item-services__img img {
    border-radius: 1.125rem;
    height: auto
}
.item-services__body {
    padding: 0 .9375rem;
    display: grid;
    gap: 1.25rem
}
.item-services__title {
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.3
}
.item-services__text {
    line-height: 1.3
}
.item-services__info {
    display: flex;
    align-items: center;
    gap: .625rem
}
.item-services__btns {
    position: absolute;
    bottom: 1.375rem;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out
}
.blog {
    display: flex;
    gap: 1.25rem
}
.blog__main {
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    border-radius: .9375rem;
    padding: 3.125rem 1.875rem;
    flex: 0 0 50%;
    position: relative;
    background: no-repeat center/cover
}
.blog__main::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.7) 100%)
}
.blog__main-info {
    position: relative;
    z-index: 2;
    color: #fff
}
.blog__list {
    display: grid;
    gap: 1.25rem
}
.blog-item_border {
    border-radius: .9375rem;
    border: 1px solid #f1eff2;
    padding: 1.875rem
}
.blog-item__top {
    display: flex;
    align-items: center;
    gap: 1.625rem;
    margin-bottom: .75rem
}
.blog-item__time {
    flex: 0 0 2.8125rem;
    font-size: .75rem;
    font-weight: 600;
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: .75rem;
    overflow: hidden;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center
}
.blog-item__title {
    font-size: 1.125rem
}
.blog-item__text {
    line-height: 1.3;
    color: #6c6c6c
}
.blog__main-info .blog-item__text {
    color: #fff
}
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1
}
.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,-100px,0);
        transform: translate3d(0,-100px,0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,-100px,0);
        transform: translate3d(0,-100px,0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}
.animate__fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0)
    }
}
.animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}
@media (min-width:29.99875em) {
    .item-services__img {
        overflow: hidden
    }
}
@media (min-width:47.99875em) {
    .hero_grey {
        padding-top: 0
    }
}
@media (min-width:61.99875em) {
    .services__body::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 100%;
        background-color: #fff;
        z-index: 2
    }
    .services__body::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        background-image: linear-gradient(260deg,rgba(255,255,255,0) 0,#fff 100%);
        z-index: 2
    }
    .services__body.swiper {
        overflow: visible
    }
}
@media (max-width:74.99875em) {
    .blog-item_border {
        padding: 1.25rem
    }
}
@media (max-width:61.99875em) {
    .slide-hero__content {
        gap: 1.875rem
    }
    .slide-hero__title {
        font-size: 3.625rem
    }
    .slide-hero__title small {
        font-size: 2.25rem
    }
    .slide-hero__img {
        display: none
    }
    .blog {
        align-items: flex-start
    }
    .blog__main {
        padding: 1.875rem 1.25rem;
        min-height: 20.125rem
    }
    .blog-item__top {
        gap: 1rem
    }
}
@media (max-width:47.99875em) {
    .hero {
        padding-top: 5rem
    }
    .slide-hero__title {
        font-size: 2.875rem
    }
    .slide-hero__title small {
        font-size: 1.875rem
    }
    .item-services__title {
        font-size: 1.25rem
    }
    .blog {
        flex-wrap: wrap
    }
    .blog__main {
        flex: 1 1 100%
    }
    .blog-item__title {
        font-size: 1rem
    }
}
@media (max-width:29.99875em) {
    .marquee {
        gap: 1.875rem
    }
    .marquee__items {
        gap: 1.875rem
    }
    .marquee__item {
        font-size: 3rem
    }
    .hero {
        padding-top: 4.0625rem
    }
    .hero__container {
        padding: 0
    }
    .hero__body {
        border-radius: 0 0 .5rem .5rem
    }
    .slide-hero {
        padding: 1.875rem 1.25rem
    }
    .slide-hero__content {
        gap: 1.5625rem
    }
    .slide-hero__title {
        font-size: 2.25rem
    }
    .slide-hero__title small {
        font-size: 1.5rem
    }
    .item-services__img {
        min-height: 18.4375rem
    }
    .item-services__body {
        padding-top: 3.75rem
    }
    .item-services__btns {
        top: 100%;
        bottom: auto;
        translate: 0 .625rem
    }
    .blog__main {
        padding: 1.25rem .9375rem
    }
    .blog__list {
        display: none
    }
    .blog-item__time {
        border-radius: 50%
    }
    .blog__main-info .blog-item__text {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical
    }
}
@media (any-hover:hover) {
    .item-services__img:hover .item-services__btns {
        opacity: 1;
        visibility: visible;
        pointer-events: auto
    }
    .blog-item:hover .blog-item__title {
        text-decoration: underline
    }
}
@media (any-hover:none) {
    .item-services__btns {
        opacity: 1;
        visibility: visible;
        pointer-events: auto
    }
}
@media print,
(prefers-reduced-motion:reduce) {
    .animate__animated {
        -webkit-animation-duration: 1ms!important;
        animation-duration: 1ms!important;
        transition-duration: 1ms!important;
        -webkit-animation-iteration-count: 1!important;
        animation-iteration-count: 1!important
    }
    .animate__animated[class*=Out] {
        opacity: 0
    }
}
