.numbers {
    display: flex;
    gap: 1rem
}
.numbers__item {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: .625rem
}
.numbers__num {
    font-weight: 600;
    font-size: 4rem
}
.numbers__num_accent {
    color: var(--accent)
}
.numbers__text {
    line-height: 140%
}
@-webkit-keyframes number-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    40% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    70% {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes number-pop {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    40% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    70% {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
.number-animated-pop {
    -webkit-animation: number-pop .4s ease-out;
    animation: number-pop .4s ease-out
}
@media (max-width:74.99875em) {
    .numbers {
        flex-wrap: wrap
    }
    .numbers__item {
        flex: 1 1 46%
    }
}
@media (max-width:48.12375em) {
    .numbers__item {
        flex: 1 1 100%
    }
    .numbers__num {
        font-size: 3rem
    }
}
@media (max-width:29.99875em) {
    .numbers__num {
        font-size: 2.375rem
    }
}
