.posts__items {
    display: grid;
    gap: 3.75rem 1.25rem;
    grid-template-columns: repeat(3,1fr)
}
.posts__more {
    margin-top: 4.375rem;
    display: grid;
    gap: 2.5rem
}
@media (max-width:48.12375em) {
    .posts__items {
        grid-template-columns: repeat(2,1fr);
        gap: 1.25rem
    }
}
@media (max-width:29.99875em) {
    .posts__items {
        grid-template-columns: 1fr
    }
    .posts__more {
        margin-top: 3.125rem;
        gap: .625rem
    }
}
