:root {
    --star-width: 1.25rem;
    --star-height: 1.25rem
}
.rating {
    display: inline-block
}
.reviews__main .rating {
    display: flex;
    align-items: center;
    gap: .625rem
}
.rating__items {
    display: inline-flex;
    align-items: flex-start;
    gap: .25rem
}
.rating__item {
    flex: 0 0 var(--star-width);
    width: var(--star-width);
    height: var(--star-height);
    position: relative;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxOSIgdmlld0JveD0iMCAwIDIwIDE5Ij48cGF0aCBmaWxsPSIjQkY5RDZFIiBkPSJNMTkuODE1NyA3LjEyMzI1TDEyLjg2NzIgNi41MjQwN0wxMC4xNTE2IDAuMTI2NDY1TDcuNDM2MDEgNi41MzM3NEwwLjQ4NzU0OSA3LjEyMzI1TDUuNzY0MTMgMTEuNjk0M0w0LjE3OTIyIDE4LjQ4ODJMMTAuMTUxNiAxNC44ODM1TDE2LjEyNCAxOC40ODgyTDE0LjU0ODggMTEuNjk0M0wxOS44MTU3IDcuMTIzMjVaTTEwLjE1MTYgMTMuMDc2M0w2LjUxNzkyIDE1LjI3MDFMNy40ODQzMyAxMS4xMzM4TDQuMjc1ODYgOC4zNTA1OEw4LjUwODcyIDcuOTgzMzVMMTAuMTUxNiA0LjA4ODczTDExLjgwNDIgNy45OTMwMUwxNi4wMzcgOC4zNjAyNUwxMi44Mjg2IDExLjE0MzVMMTMuNzk1IDE1LjI3OTdMMTAuMTUxNiAxMy4wNzYzWiIvPjwvc3ZnPg==) 0 0/var(--star-width) no-repeat;
    transition: all .3s
}
.rating__item--active {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMDkyMyAxNC44ODM1TDE2LjA2NDcgMTguNDg4MkwxNC40Nzk4IDExLjY5NDNMMTkuNzU2MyA3LjEyMzI1TDEyLjgwNzkgNi41MzM3NEwxMC4wOTIzIDAuMTI2NDY1TDcuMzc2NjggNi41MzM3NEwwLjQyODIyMyA3LjEyMzI1TDUuNzA0OCAxMS42OTQzTDQuMTE5ODkgMTguNDg4MkwxMC4wOTIzIDE0Ljg4MzVaIiBmaWxsPSIjQkY5RDZFIi8+PC9zdmc+Cg==) 0 0/var(--star-width) no-repeat
}
.rating__item span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: var(--star-height);
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMDkyMyAxNC44ODM1TDE2LjA2NDcgMTguNDg4MkwxNC40Nzk4IDExLjY5NDNMMTkuNzU2MyA3LjEyMzI1TDEyLjgwNzkgNi41MzM3NEwxMC4wOTIzIDAuMTI2NDY1TDcuMzc2NjggNi41MzM3NEwwLjQyODIyMyA3LjEyMzI1TDUuNzA0OCAxMS42OTQzTDQuMTE5ODkgMTguNDg4MkwxMC4wOTIzIDE0Ljg4MzVaIiBmaWxsPSIjQkY5RDZFIi8+PC9zdmc+Cg==) 0 0/var(--star-width) no-repeat
}
.rating__item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: .25rem;
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}
[data-rating=set] .rating__item:not(:last-child)::after {
    cursor: pointer
}
.rating__input {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: block
}
[data-rating=set] .rating__input {
    cursor: pointer
}
.rating__title {
    font-size: 1.125rem
}
.product {
    min-width: 0
}
.product__body {
    display: grid;
    gap: .875rem;
    margin-bottom: 1.25rem
}
.product__img {
    margin-bottom: 1.75rem;
    position: relative;
    border-radius: 1.125rem;
    overflow: hidden;
    background-color: #f8f8f8;
    background-image: linear-gradient(226deg,rgba(255,255,255,.2) 0,rgba(234,237,241,.2) 100%)
}
.product__title {
    line-height: 1.3;
    font-size: 1.125rem;
    font-weight: 600
}
.product__title small {
    color: #6c6c6c;
    font-size: .9375rem
}
.product__rating {
    display: flex;
    gap: .3125rem 1.25rem;
    align-items: center;
    flex-wrap: wrap
}
.product__generator {
    color: #6c6c6c
}
.product__price {
    font-weight: 600;
    font-size: 1.125rem
}
.product__buy {
    width: 3.375rem;
    height: 3.375rem;
    background-color: var(--primary);
    border-radius: .75rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease-in-out
}
.product__buy svg {
    width: 1.25rem;
    height: 1.25rem
}
.product__fav {
    position: absolute;
    top: 1rem;
    right: 1rem;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all .3s ease-in-out
}
.product__fav svg {
    width: 1.625rem;
    height: 1.625rem
}
.product__beiges {
    position: absolute;
    top: .75rem;
    left: .75rem;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap
}
.slider-img__slide {
    max-height: 20.25rem;
    min-height: 20.25rem
}
.product-slider__container {
    position: relative;
    max-width: 103.375rem
}
.product-slider__benefits {
    margin-top: 4.375rem
}
.product-slider__body {
    max-width: 90.875rem;
    margin: 0 auto
}
@media (max-width:47.99875em) {
    .rating__title {
        font-size: 1rem
    }
}
@media (max-width:29.99875em) {
    :root {
        --star-width: 0.875rem;
        --star-height: 0.875rem
    }
    .product__body {
        gap: .625rem
    }
    .product__img {
        margin-bottom: 1.25rem
    }
    .product__title {
        font-size: 1rem
    }
    .catalog__items .product__title {
        font-size: .9375rem
    }
    .product__title small {
        font-size: .875rem
    }
    .catalog__items .product__title small {
        font-size: .75rem
    }
    .catalog__items .product__generator {
        font-size: .75rem
    }
    .catalog__items .product__price {
        font-size: 1rem
    }
    .product__buy {
        width: 2rem;
        height: 2rem;
        border-radius: .5rem
    }
    .product__buy svg {
        width: 1.0625rem;
        height: 1.0625rem
    }
    .slider-img__slide {
        min-height: 16.875rem
    }
    .catalog__items .slider-img__slide {
        min-height: 10.625rem
    }
}
@media (any-hover:hover) {
    [data-rating=set] .rating__items:hover .rating__item {
        background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAuMDkyMyAxNC44ODM1TDE2LjA2NDcgMTguNDg4MkwxNC40Nzk4IDExLjY5NDNMMTkuNzU2MyA3LjEyMzI1TDEyLjgwNzkgNi41MzM3NEwxMC4wOTIzIDAuMTI2NDY1TDcuMzc2NjggNi41MzM3NEwwLjQyODIyMyA3LjEyMzI1TDUuNzA0OCAxMS42OTQzTDQuMTE5ODkgMTguNDg4MkwxMC4wOTIzIDE0Ljg4MzVaIiBmaWxsPSIjQkY5RDZFIi8+PC9zdmc+Cg==) 0 0/var(--star-width) no-repeat
    }
    [data-rating=set] .rating__item:hover~.rating__item {
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxOSIgdmlld0JveD0iMCAwIDIwIDE5Ij48cGF0aCBmaWxsPSIjQkY5RDZFIiBkPSJNMTkuODE1NyA3LjEyMzI1TDEyLjg2NzIgNi41MjQwN0wxMC4xNTE2IDAuMTI2NDY1TDcuNDM2MDEgNi41MzM3NEwwLjQ4NzU0OSA3LjEyMzI1TDUuNzY0MTMgMTEuNjk0M0w0LjE3OTIyIDE4LjQ4ODJMMTAuMTUxNiAxNC44ODM1TDE2LjEyNCAxOC40ODgyTDE0LjU0ODggMTEuNjk0M0wxOS44MTU3IDcuMTIzMjVaTTEwLjE1MTYgMTMuMDc2M0w2LjUxNzkyIDE1LjI3MDFMNy40ODQzMyAxMS4xMzM4TDQuMjc1ODYgOC4zNTA1OEw4LjUwODcyIDcuOTgzMzVMMTAuMTUxNiA0LjA4ODczTDExLjgwNDIgNy45OTMwMUwxNi4wMzcgOC4zNjAyNUwxMi44Mjg2IDExLjE0MzVMMTMuNzk1IDE1LjI3OTdMMTAuMTUxNiAxMy4wNzYzWiIvPjwvc3ZnPg==) 0 0/var(--star-width) no-repeat
    }
    [data-rating=set] .rating__item:hover~.rating__item span {
        display: none
    }
    .product__img:hover .product__fav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible
    }
    .product__img:hover .product__buy {
        opacity: 1;
        pointer-events: auto;
        visibility: visible
    }
    .product__title:hover {
        text-decoration: underline
    }
}
@media (any-hover:none) {
    .product__buy {
        opacity: 1;
        pointer-events: auto;
        visibility: visible
    }
    .product__fav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible
    }
}
