.study-item {
    display: flex;
    flex-direction: column;
    gap: .625rem
}
.study-item__img {
    margin-bottom: 1.6875rem
}
.study-item__img img {
    border-radius: 1.125rem
}
.study-item__body {
    display: grid;
    gap: .625rem;
    align-content: start;
    justify-items: start;
    flex: 1 1 auto
}
.study-item__price {
    display: flex;
    align-items: center;
    gap: .625rem;
    font-size: 1rem
}
.study-item__price strong {
    font-weight: 600
}
.study-item__text {
    font-size: .875rem;
    line-height: 140%
}
@media (max-width:29.99875em) {
    .study-item__img {
        margin-bottom: .625rem
    }
    .study-item__img img {
        border-radius: .625rem
    }
}
